# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
models/*.pkl

# System files
.DS_Store
Thumbs.db

# VSCode and IDE settings
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp
*.swp

# Streamlit cache
.streamlit/

# Python package build
build/
dist/
*.egg-info/
